body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: rgb(74, 148, 173);
    color: white;
    padding: 10px;
    text-align: center;
}

header img {
    border-radius: 50%; 
    border: 10px dotted rgb(161, 118, 65);
}

footer {
    color:rgb(93, 27, 123);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

a { 
    color: rgb(249, 251, 252); 
    text-decoration: none;
}

p a {
    color: rgb(41, 134, 88);
}

a:hover { 
    text-decoration: underline;
    color:brown;
}

label, button {
    display: block;
    margin-top: 20px; 
}

button {
    width: 200px;
    margin: 20px auto 0px auto;/*top right bottom left*/
}